### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
*.js
*.ts
*.json
*.xml

episen-sca-mco-front/.mvn/*
episen-sca-mco-back/.mvn/*
episen-sca-mco-front/mvnw
episen-sca-mco-front/mvnw.cmd

episen-sca-mco-front/node_modules/*
episen-sca-mco-back/node_modules/*

episen-sca-mco-back/.idea/*
episen-sca-mco-front/.idea/*

